    {% include 'header.html' %}
    <br>
    <form method="post" action="/store" enctype="multipart/form-data" autocomplete="off">

        <div class="card">
            <div class="card-header">
                Ingresar Horario
    
            </div>
            <div class="card-body">
                <h5 class="card-title">Datos del Programa</h5>
                <p class="card-text">
                    
                    <div class="form-group">
                        <label for="txtid">Id</label>
                        <input id="txttid" class="form-control" type="text" name="txtid" required>
                    </div>
                    <div class="form-group">
                        <label for="txtcode">Codigo de Programa:</label>
                        <input id="txttcode" class="form-control" type="text" name="txtcode" required>
                    </div>
                    <div class="form-group">
                        <label for="txtname">Nombre de Programa:</label>
                        <input id="txtname" class="form-control" type="text" name="txtname" required>
                    </div>
                    <div class="form-group">
                        <label for="txttutor">Nombre de Tutor:</label>
                        <input id="txttutor" class="form-control" type="text" name="txttutor" required>
                    </div>
                    <div class="form-group">
                        <label for="txttype">Tipo de Programa:</label>
                        <input id="txttype" class="form-control" type="text" name="txttype" required>
                    </div>
                    <div class="form-group">
                        <label for="txtmodality">Modalidad de Programa:</label>
                        <input id="txtmodality" class="form-control" type="text" name="txtmodality" required>
                    </div>
                    <div class="form-group">
                        <label for="txtarea">Aula asignada:</label>
                        <input id="txtarea" class="form-control" type="text" name="txtarea" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Agregar">
                        <a href="{{url_for('index')}}" class="btn btn-primary">Regresar</a>
                    </div>

                </p>
            </div>
        </div>
    

    </form>
{% include 'footer.html' %}