{% include 'header.html' %}
<br/>
<div class="table-responsive">

    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>    
                <th>Codigo Programa</th>
                <th>Nombre Programa</th>
                <th>Tutor Asignado</th>
                <th>Tipo</th> 
                <th>Modalidad</th>   
                <th>Aula</th> 
                <th></th>     
            </tr>
        </thead>
        <tbody>

            {% for registro in registro %}
            <tr>
                <td>{{ registro[0] }}</td>
                <td>{{ registro[1] }}</td>
                <td>{{ registro[2] }}</td>
                <td>{{ registro[3] }}</td>
                <td>{{ registro[4] }}</td>
                <td>{{ registro[5] }}</td>
                <td>{{ registro[6] }}</td>
              
                <td> <a class="btn btn-warning" href="/edit/{{registro[0]}}">Editar</a> │
                    <a onclick="return confirm('¿Desea borrar el registro?')" class="btn btn-danger" href="/destroy/{{registro[0]}}">Eliminar</a>                    
                </td>
            </tr>                
            {% endfor %}

        </tbody>
    </table>
</div>

{% include 'footer.html' %}